
                             [Rules]
-----------------------=========+=========-----------------------                                 
    The following is a listing of topics pertaining to the
rules of Nirvana. Please read them carefully, ignorance is
no excuse.

For further information type: help <topic name>

-----------------------------------------------------------
                        bots
                        multiple
                        prison
                        wiz_behavior
                        wizard_application (for wizards to be)
                        code_policy (for wizards)
                        
For further information type: help <topic name>

