    switch(random(3))
    {
      case 0:
        helmet=CO(SPARMOR+"hat.c"); MO(helmet,TO);
        item=CO(SPOBJ+"suitcase.c"); MO(item,TO);
        break;
      case 1:
        item=CO(SPOBJ+"chit.c"); MO(item,TO);
        weapon=CO(SPWEAPON+"info_pda.c"); MO(weapon,TO);
        break;
      case 2:
        item=CO(SPOBJ+"bell.c"); MO(item,TO);
        boots=CO(SPARMOR+"boots.c"); MO(boots,TO);
        misc=CO(SPARMOR+"coat.c"); MO(misc,TO);
        break;
    }
