
  This is not a guild of rules and restrictions, but I feel I still need
to mention a few things to you.

 1.  Do not kill newbies, ever.
 2.  Do not abuse your powers.  If you find a bug you should mail Zeus
     or a senior wizard about it right away.
 3.  Treat other players with at least some respect...
 4.  Do not whine to me or any other wizard about the guild.
 5.  Feel free to mail me suggestions and ideas.
 6.  If you have questions, you may ask others, but I encourage you to
     figure things out for youself.

