         Servants of Shardak - Rules - Written by Earwax 7/03


1.  If cursing offends you, this guild is not for you.  Leave.

2.  You are responsible for knowing the contents of the rules files.  Read
    the 'shardak' files.  Type 'shardak' for a list.

3.  Obey your leadership.  Read 'shardak hierarchy' for more information.

4.  Obey all rules of Nirvana.  Read 'shardak rules2' for more information.
    If you break a rule of nirvana, or fuck with a newbie, you will pay.

5.  You must be PK at all times, or you can't use combat abilities.  

6.  You cannot go inactive in this guild.  See 'shardak inactive'

7.  Once you leave the guild, you cannot rejoin.  See 'shardak abandon'

8.  You must be Shards at all times.  We steal kills, steal corpses, flap,
    kill pets and kids, and above all else, PK like mad.  We are the most
    hated guild on the MUD, and we revel in this.  Follow this at all times,
    if you have a choice between being nice, and being a cockbiting asshole
    motherfucker, you'd better be the cockbiting asshole every time.

9.  No in-fighting.  No undermining our leadership, taking shit outside the
    guild, talking about guild issues outside the guild, bitching on the
    guild channels, at each other, attacking each other, etc, period.

10. The guild channel is not for trading recipes or bowing in.  It's for 
    things relevant to being heinous, evil, baby sacrificing motherfuckers.

11. No whining.  Yes, this guild will be a bitch to max, so fucking what.

12. Read and understand 'shardak punishments'

13. If you break a rule, ignorance is no excuse.  You are responsible for
    knowing and understanding the 'shardak' files.  Read them all.
