
Bloodfist Help:  Rules

  The rules of the guild are going to be pretty open to begin.  If a
rule needs to be established then I will establish one.  Enforcement
of the rules can occur any number of ways.  The rules are:

  1. do not kill newbies
  2. do not abuse your abilities
  3. do not whine
  4. do have fun

