[===========================================================================]

                                SPARRING RULES

- NO pets/kids/familiars allowed. PERIOD.
  Any trying to enter the room will be destructed.

- There is limit on the number of hit points and spell points
  that may be added to a player while sparring.  This includes
  healing, transfering, storing, retrieving of hp/sp.
  It is currently set at: 0

- Participants MUST be at least 10th level.

- The person you challenge must be within five levels of you.

- The max damage a player can recieve on one attack: 35
  This does not take into account armor bonuses or any other protection.
[===========================================================================]
